html {
    background-color: #c6d1e2;
    background-repeat: no-repeat;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: black;
    height: 20px;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline #40c6dd;
}

.button-in-home{
    background: none;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

#login-button{
    background: #a1abbe;
}
#login-button:hover{
    color: white;
}

#register-button{
    background: #c3c5a8;
}

#register-button:hover{
    color: #c6d1e2;
    background: rgb(52, 101, 165);
}

.logo-img{
    width: 57.6px;
    height: 70.4px;
    background: url("../img/fc-logo.png") no-repeat;
    background-size: cover;
    position: relative;
    left: 5px;
    top: 8px;
}

.logo-frame{
    width: 72px;
    height: 88px;
}

.logo-frame:hover{
    border-bottom: 4px solid;
}

.welcome-content{
    background-color: rgb(228, 236, 117) ;
    width: 80vw;
    margin: 130px auto 0 auto;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    height: 800px;
}

#about-us{
    background: rgb(228, 236, 117);
    width: 60vw;
    margin: 10px auto 0px auto;
    height: 100px;
    text-align: center;
    padding: 10px;
}

#contact-us{
    background: #40c6dd;
    width: 40vw;
    margin: 10px auto 0px auto;
    padding: 10px;
}

#contact-us h2{
    text-align: center;
}

#contact-us li{
    padding-left: 80px;
}