@import url("style-header.css");

html {
    font-family: 'Nunito', sans-serif;
    background-color: #e9ebee;
    background-repeat: no-repeat;
}

.welcome-content {
    font-family: sans-serif;
    font-size: 250%;
    word-spacing: 15px;
    background: rgb(182, 227, 245);
    width: 80vw;
    margin: 70px auto 0 auto;
    padding-top: 10px;
    text-align: center;
}

#about-us {
    background: rgb(228, 236, 117);
    width: 60vw;
    margin: 10px auto 0px auto;
    padding: 5px;
}

#contact-us {
    background: #40c6dd;
    width: 40vw;
    margin: 10px auto 0px auto;
    padding: 5px;
}

#about-us h2, #contact-us h2{
    text-align: center;
}

#contact-us ul{
    overflow: hidden;
    display: grid;
    justify-content: space-around;
}
